@charset "UTF-8";
/* --------------------------------
   common
-------------------------------- */
body {
    /* ゴシック */
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.clearfix:after {
    content:"";
    clear:both;
    display:block
}

li {
	list-style-type: none;
}

a:link,a:visited {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #9FBC21;
	transition: .5s;
}

a img:hover {
	opacity: 0.5;
	transition: .5s;
}

figcaption {
	color: #aaa;
	font-size: 10px;
	margin-bottom: 20px;
}

/* --------------------------------
   header
-------------------------------- */
header {
	height: 50px;
	padding: 10px 0;
}

header .logo {
	float: left;
	margin: 15px 0 0 50px;
}

header ul {
	float: right;
	margin-top: 15px;
}

header ul li {
	float: left;
	margin-right: 30px;
	font-size: 13px;
	font-weight: 300;
	letter-spacing:.1em;
	color: #000;
	text-transform: lowercase;
	font-family: 'HelveticaNeue-Light', Helvetica, Arial;
}

header ul li a img {
	vertical-align: bottom;
}

/* --------------------------------
   section
-------------------------------- */

/* top 
------------------------------------ */
#top {
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	width: 100%;
	position: relative;
	padding: 0;
}

#apple {
	position: absolute;
	z-index: -999;
}

.arrow {
	position: absolute;
	bottom: 12%;
	left: 50%;
	background-color: #8DBE00;
	opacity: 0.9;
	width: 50px;
	height: 50px;
	border-radius: 50%;

}
.arrow a i {
	padding-top: 18px;
	font-size: 18px;
	color: #fff;
}

.arrow a i:after {
	
}

/* wrap, table, section 
------------------------------------ */
.wrap {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.wrap table {
	margin: 0 auto;
}

.wrap table tbody tr th,
.wrap table tbody tr td {
	text-align: left;
	font-weight: 300;
	font-size: 14px;
	padding-bottom: 20px;
	line-height: 1.7em;
	width: 700px;
}

.wrap table tbody tr th {
	width: 150px;
}


section {
	padding: 50px 0;

}

section h2 {
	font-family: 'HelveticaNeue-Thin', Helvetica, Arial;
	font-size: 32px;
	font-weight: 300;
	color: #9FBC21;
	margin-bottom: 40px;
	text-transform: lowercase;
	letter-spacing: .08em;
}

section p {
	font-size: 14px;
}

/* speaker-list 
------------------------------------ */
#speaker-list {
	height: auto;
}

#speaker-list ul li {
	display:inline-block;
	vertical-align: top; 
	height: 280px;
	width: 260px;
	padding: 0 20px;
}

#speaker-list ul li p.speaker-name {
	margin-top: 10px;
	font-weight: bold;
	margin-bottom: 5px;
}

#speaker-list ul li p.speaker-prof {
	text-align: center;
	font-size: 12px;
}

/* access 
------------------------------------ */
#access p {
	text-align: center;
}

#googleMap {
	margin: 40px 0 20px 0;
	height: 400px;
	width: 100%;
}

#googleMap+p {
	font-family: 'HelveticaNeue', Helvetica, Arial;
	text-decoration: underline;
	font-size: 18px;
	margin-bottom: 10px;
}


/* story 
------------------------------------ */
#story  {
	padding: 0 50px;
	width: 700px;
	margin-top: 30px;
}
#story p {
	text-align: justify;
	margin: 0 auto;
	margin-bottom: 20px;
	
}

/* produce 
------------------------------------ */
#produce {
	margin-top: 50px;
}

#produce figure {
	display: inline-block;
	margin-left: 70px;
	vertical-align: middle;
}

/* footer 
------------------------------------ */
footer {
	background-color: #1F1F1F;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	margin-top: 50px;
}

footer small {
	font-size: 11px;
	color: #fff;

}



/* --------------------------------
   media query
-------------------------------- */
@media screen and (max-width: 960px) {



	
	section img {
		width: 100%;
		height: auto;
	}

	header {
		height: 240px;
		text-align: center;
	}

	header ul {
		margin-top: 0;
		float: none;
	
	}

	header ul li {
		display: inline-block;
		width: 50%;
		margin: 10px 0;
		
	}

	header .logo {
		float: none;
		float: none;
	
		width: 100%;
		margin: 30px 0;
	}

	.wrap, table {
		width: 100%;

	}

	.wrap table tbody tr {
		display: block;
		padding: 10px 0;
	}

	.wrap table tbody tr td,
	.wrap table tbody tr th {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
	}

	.wrap table tbody tr th {
		font-weight: 600;
	}

	section, #story {
		margin: 30px 0;
		width: 100%;
		padding: 50px 10px;
	}

	section h2 {
		margin-bottom: 30px;
	}
	
	section p:not(#speaker-list ul li p) {
		text-align: left;
	}

	#speaker-list ul li {
	display:inline-block;
	vertical-align: top; 
	height: auto;
	margin: 20px 0;
	width: 260px;
	padding: 0 20px;
	}
	
	#speaker-list ul li p img {
		width: 90%;
	}

	#produce figure {
	    display: inline-block;
	    margin: 20px 0;
	    vertical-align: middle;
	}
	#produce figure img {
		width: 50%;
	}


	canvas {
		width: 100%;
	}

}